<!--The content below is only a placeholder and can be replaced.-->

<ul>
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="about/48">About</a></li>

</ul>

<router-outlet></router-outlet>
